---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics;
---

<Section title="Sobre mí">
  <p>
    {summary}
  </p>
</Section>

<style>
  :root {
    --margin-parrafo: 1rem;
  }

  p {
    margin-bottom: var(--margin-parrafo);
  }
</style>
