---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary, summary2, summary3 } = basics;
---

<Section title="Sobre mí">
  <p>
    {summary}
  </p>
  <p>
    {summary2}
  </p>
  <p>
    {summary3}
  </p>
</Section>

<style>
  :root {
    --margin-parrafo: 1rem;
  }

  p {
    margin-bottom: var(--margin-parrafo);
  }
</style>
