---
import Section from "../Section.astro";

import { skills } from "@cv";
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name }) => (
        <li>
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    border: 1px solid #00829b;
    border-radius: 6px;
    background: #f5f5f5;
    color: #333333;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>
